{% extends "layout.html" %}
{% block body %} 
{% for directors in Directors %}
<p> ID: {{directors.id}} </p>
<p> Director: <a href="{{ url_for('dirMovs', id = directors.id) }}">{{ directors.dir_name }}</a></p>
<form action="{{ url_for('deleteD', id = directors.id) }}" class="butDis">
<button type="Delete">Delete Director</button>
</form>
<form action="{{ url_for('updateD', id = directors.id) }}" class="butDis">
<button type="Update">Update Director</button> 
</form>
{% endfor %}
{% endblock body%}